@import "../_files/variables";
.cards-wrapper {
    flex-wrap: wrap;
    .example-card {
        float: left;
        margin: 20px;
        max-width: 300px;
        min-width: 300px;
        border-radius: 10px;
        background: $white;
         ::ng-deep {
            .mat-card-header-text {
                margin: 0;
            }
        }
        mat-card-header {
            cursor: pointer;
        }
        mat-card-actions {
            display: flex;
            justify-content: flex-end;
            .material-icons {
                margin: 0 10px;
                cursor: pointer;
                &.edit-btn {
                    color: $blue;
                }
                &.delete-btn {
                    color: $yellow;
                }
            }
        }
    }
}