<section class="cards-wrapper" fxLayoutAlign="center center">
    <mat-card class="example-card" *ngFor="let post of postList; let i = index" [class.active]="i == currentIndex">
        <mat-card-header routerLink="/view-post/{{post.id}}">
            <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{post.content | slice: 0:150}} ...</p>
            <a routerLink="/view-post/{{post.id}}">Read more..</a>
        </mat-card-content>
        <mat-card-actions>
            <span class="material-icons edit-btn" routerLink="/edit-post/{{post.id}}">create</span>
            <span class="material-icons delete-btn" (click)="deletePost(post.id)">delete</span>
        </mat-card-actions>
    </mat-card>
</section>